---
import Layout from '../layouts/PostLayout.astro';
---

<Layout title="关于" description="继林的个人博客,继林的知识花园">
  <h3>关于我 / 平凡的工程师</h3>
  <p>
    大家好，我是继林，一名前端工程师。路过这里，你所见的仅仅是一个平凡的工程师，回首过往，平凡的家庭，平凡的学历，平凡的工作历程，就这样平凡的一路走来。而自己，立志不让平凡沦为平庸。
  </p>
  <h3>关于内容 / 快乐工作，认真生活</h3>
  <p>
    <p>
      关于我的知识花园，主要记录一些自己生活和工作中所学、所误、所感，用于坚持对自我的认知，也希望自己的认知能抛砖引玉，触发交流，更希望遇到一些可以共鸣的朋友。
      我的工作是前端工程师，当然自己不希望仅此而已，构建自己热衷的产品，可以是架构，可以是产品经理，也可以设计师。围绕兴趣，保持热情，用心做好认准的产品。
    </p>
    <p>
      生活中，我是老公，是老爸，是儿子，充斥着太多事情。自己对待生活，希望保持乐观的态度，于家人，于朋友，于陌客，认真构建自己的生活。
      不负当下，不负自己，快乐工作，认真生活。
    </p>
  </p>
  <h3>关于内容 / 自由转载</h3>
  <p>
    园中文章除非文章内特别说明，你可以自由转载的文章，为保证信息与源同步，转载时请务必注明文章出处，谢谢 😊
    文章内容仅代表个人观点，与所服务公司无关。 版权声明: 「署名-非商业性使用-禁止演绎 3.0 国际」（CC BY-NC-ND 3.0）
    联系我 / 欢迎交流
  </p>
</Layout>
