---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="py-4">
  <nav class="container m-auto flex item-center">
    <h2 class="font-bold text-lg"><a class="" href="/">{SITE_TITLE}</a></h2>
    <ul class="px-4 inline-flex items-center">
      <li class="px-2"><a href="/">首页</a></li>
      <li class="px-2"><a href="/about">关于</a></li>
    </ul>
  </nav>
</header>
