---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import dayjs from 'dayjs';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, date } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description ?? ''} />
  </head>

  <body>
    <Header />
    <main>
      <article class="container m-auto">
        <div class="prose m-auto">
          <div class="text-center">
            {date && <div class="pb-2">{dayjs(date).format('YYYY-MM-DD HH:mm')}</div>}
            <h1>{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
